
.main{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 58%;
   padding: 10px;
    margin-top: 10px;

}
.main:hover{
    background-color: aquamarine;
}

.img{
   
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.div2{
    display: flex;
    margin: auto;
    justify-content: flex-start ;
    align-items: center;
   gap: 10px    ;
}

.btn{
    width: 60px;
    height: 30px;
    border-radius: 16px;
}
.btn:hover{
    background-color: olive;
}